.question_section{
    background-color: #000;
}

.questions{
    width: 90vh;
    margin: 0 auto;
    padding: 2rem 0;
    background-color: #000;
}

.questions_div h1{
    font-size: 2.7rem;
    font-weight: 400;
}

.ques, .ans{
    background-color: rgb(54, 54, 54);
    padding: 1rem;
    margin-top: .8rem;
}

.ques{
    /* text-align: right; */
    display: flex;
    justify-content: space-between;
}

.questions_div{
    margin-top: 3rem;
    background-color: #000;

}

@media (max-width: 800px){
    .questions{
        width: 100%;
        overflow-x: hidden;
    }
}