.home_header{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/a1543997-c1fd-4946-92d3-b0a3648b92c7/327506e9-f0a6-4ae6-8115-97ea4c94268d/IN-en-20220808-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(10deg, rgba(0,0,0,0.1), #111);
    opacity: 1;
    z-index: 1;
}
.home_header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.1), rgba(17, 17, 17, 0.507));
    opacity: 1;
    z-index: 1;
}

.home_header_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
    text-align: center;
    width: 68vw;
    margin: 0 auto;
}



.home_header_info h1{
    font-size: 5rem;
    line-height: 5.5rem;
}

.home_header_info h2{
    font-size: 2.5rem;
    font-weight: 500;
}

.home_header_info p{
    font-size: 2.2rem;
    font-weight: 400;
}

.home_header_info > *{
    z-index: 99;
}

.email_div{
    display: flex;
    justify-content: center;
    /* gap: 1rem; */
    width: 100%;
}

/* .email_div input{
    padding: 2rem 2rem;
    font-size: 1.4rem;
    font-weight: 400;
    flex: 1;
} */

/* .email_div input::placeholder{
    font-size: 1.8rem;
    font-weight: 400;
} */

.email_div .btn{
    background-color: rgba(255, 0, 0, 0.966);
    padding: 1.8rem 2rem;
    font-size: 1.7rem;
    font-weight: 500;
    border-radius: 0px;
    width: 100%;
    margin: 0 auto;
}

.email_div .btn:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}



@media (max-width: 850px){
    .home_header_info{
        width: 80vw;
    }
}

@media (max-width: 600px){
    .home_header_info{
        width: 90vw;
    }
}

@media (max-width: 500px){
    .home_header_info{
        width: 93vw;
    }
}
