.header {
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: brightness(75%); */
    /* background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)); */
}

.header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85vh;
    background-image: linear-gradient(300deg, rgba(0,0,0,0.1), #111);
    opacity: 1;
    z-index: 1;
}

.header h1,p,button{
    z-index: 20;
}

.banner_details {
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 2.3rem;
    /* width: 58rem; */
    width: 60vw;
    /* min-width: 70%; */
}

.banner_details h1 {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: .1rem;
}

.banner_details p {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.7rem;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 1rem 2rem;
    background-color: rgba(128, 128, 128, 0.603);
    border: none;
    outline: none;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: .5rem;
}

.btn:hover {
    /* background-color: rgba(128, 128, 128, 0.603); */
    background-color: rgba(255, 255, 255, 0.925);
    color: #111;
}


.header_fade{
    height: 5rem;
    margin-top: -4rem;
    background-image: linear-gradient(180deg, transparent, rgba(25, 25, 25, 0.74), #111);
}


@media (max-width: 700px) {
    .banner_details{
        width: 80vw;
    }
}
@media (max-width: 500px) {
    .header {
        height: 75vh;
    }
    .header::after{
        height: 75vh;
    }
    .banner_details{
        width: 80vw;
    }
}