.footer_div{
    padding: 5rem 3rem 2rem 3rem;
    background-color: #000;
}

.footer_div p{
    color: gray;
    font-size: 2rem;
    margin-top: 1.5rem;
    cursor: text;
}


.footer_info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
}

.footer_div h2{
    font-size: 2.4rem;
    margin-bottom: 2rem;
    color: gray;
    font-weight: 500;
}


.footer_info p{
    font-size: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    width: fit-content;
    color: gray;
}

.footer_info p:hover{
    border-bottom: 1px solid gray;
}

@media (max-width: 800px){
    .footer_info{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 500px){
    .footer_info{
        grid-template-columns: repeat(2, 1fr);
    }
}