nav{
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100%;
    /* z-index: 999; */
    background-color: transparent;
    transition: all 0.3s ease;
    z-index: 999;
}

.nav_dark{
    background-color: #111;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    /* background-color: #111; */
}



.container{
    padding: 0 2rem;
}

.logo{
    width: 15rem;
    height: auto;
    cursor: pointer;
}

.user{
    width: 4rem;
    height: auto;
    cursor: pointer;
}

@media (max-width: 450px){
    .navbar{
        height: 10rem;
    }
}